<div class="hidden-xs">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="null" data-interval="4000">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="header-slide" id="carousel-reporting"></div>
                <div class="carousel-caption">
                    <a class="page-scroll" href="#services">
                        <h2>Consulting en bijscholing</h2>
                        <p>Hulp op maat</p>
                    </a>
                </div>
            </div>
        
            <div class="item">
                <div class="header-slide" id="carousel-dataviz"></div>
                <div class="carousel-caption">
                    <a class="page-scroll" href="#services">
                        <h2>Data-analyse, statistiek en rapportering</h2>
                        <p>Het verhaal achter de cijfers</p>
                    </a>
                </div>
            </div>
        
            <div class="item">
                <div class="header-slide" id="carousel-analysis"></div>
                <div class="carousel-caption">
                    <a class="page-scroll" href="#services">
                        <h2>Data verzamelen, controleren en opschonen</h2>
                        <p>Relevante en betrouwbare gegevens</p>
                    </a>
                </div>
            </div>        
        </div>

		
		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		  </a>
		</div>
		
	</div>