{% set title = "Cleardata - Consultancy" %}
{% set description = "Cleardata biedt Data Analyse op maat, Statistisch Advies en Rapportering aan KMOs en groepspraktijken. " %}

{% extends "layout.nunjucks" %} {% block content %}

<section id="info" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Consulting op maat</h2>
                <hr class="light">
            </div>
        </div>

        <div class="row">
            <div class="text-faded col-lg-8 col-lg-offset-2 text-justify">
                <p>
                    Wij bieden professioneel advies alsook statistische analyses voor een breed doelpubliek. We streven hiermee naar 1) meer
                    kennis, 2) een hogere kwaliteit van uw producten, zorg- of dienstverlening en 3) meer tevredenheid van
                    uw klanten en personeel.
                </p>
                <p>Richtprijs voor een adviesgesprek of analyse is 50 €/uur.</p>
                <p>We maken deel uit van het volledige proces (zie <a href="index.nl.html#services">diensten</a> voor meer informatie):</p>

                <ul class="text-faded text-left">
                    <li>Data verzamelen</li>
                    <li>Data controleren en opschonen</li>
                    <li>Statistische data-analyse</li>
                    <li>Datavisualisatie</li>
                    <li>Rapportering</li>
                </ul>

                <p>... of van een deeltje van dit proces. </p>

                <p>Daarnaast bieden we ook advies m.b.t. het omgaan, beheer en beveiligen van vertrouwelijke data, ook in het
                    kader van de nieuwe Europese privacy wetgeving (<a target="_blank" href="https://gdpr-eu.be">GPDR</a> - 25 mei 2018).
                </p>

                <p>Wij hebben <em>in-house</em> kennis van verscheidene statistische methoden:</p>
                <ul class="text-faded text-left">
                    <li>Beschrijvende en visuele analyses</li>
                    <li>Lineaire regressie</li>
                    <li>Logistische regressie</li>
                    <li>Analyse van categorische data</li>
                    <li>Multilevel, longitudinale en gemengde modellen</li>
                    <li>Multivariate analyses</li>
                    <li>Causale analyses</li>
                    <li>Verwerking van vragenlijsten</li>
                    <li>...</li>
                </ul>
                
                <p>Analyses voeren wij meestal uit met het softwarepakket
                    <a target="_blank" href="https://www.r-project.org">R</a> in onze
                    <a target="_blank" href="https://www.google.be/maps/place/ClearData/@51.0367335,3.6915578,17z/data=!3m1!4b1!4m5!3m4!1s0x47c373d5e244c623:0x12ceb2b0b9fe9577!8m2!3d51.0367335!4d3.6937465">thuisbasis te Gent</a> 
                    waarbij we nauw contact met u houden. Indien u zelf analyses wenst uit te voeren kunt u volgens ons advies werken met het softwarepakket naar uw keuze. Adviesgesprekken kunnen in overleg ook bij u ter plaatse doorgaan.
                </p>
                <p>Wij helpen iedereen met veel enthousiasme verder!</p>
                        
                <p>
                    <a href="index.nl.html#contact">Contacteer ons</a> voor meer informatie.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}