{% set title = "Cleardata" %}
{% set description = "Data-opschoning, Data-analyse, Rapportering, Statistisch Advies, Bijles Statistiek en Thesisbegeleiding. " %}

{% extends "layout.nunjucks" %} {% block content %}

{% include "partials/carousel.html" %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Wat doen we?</h2>
                    <hr class="light">
                    <p class="text-faded text-justify">
Het bewustzijn groeit dat door correcte analyse van gegevens nuttige en objectieve inzichten bekomen worden. Een goede kennis van data-analyse en statistiek ontbreekt echter bij velen en deze leemte willen wij opvullen. Onze werking omvat 2 domeinen: consulting (advies en analyses) en bijscholing (bijles en studiebegeleiding).
					<p class="text-faded text-justify">
<a href="students.nl.html">Bijscholing</a> omvat bijles in data-analyse, statistiek, wetenschappelijk rapporteren, alsook thesisbegeleiding en praktijklessen met statistische software (inclusief <a target="_blank" href="https://www.r-project.org">R</a> software). 
 
					<p class="text-faded text-justify">
<a href="consulting.nl.html">Consulting</a> omvat professioneel advies en statistische analyses. We bieden advies met betrekking tot verzameling, verwerking, rapportering en beheer van data. Via gerichte analyses geven we een helder inzicht in verzamelde data en vertellen het verhaal achter de cijfers.
					<p class="text-faded text-justify">				
					</p>
					<p class="text-faded text-justify">
Bekijk ook enkele van onze gerealiseerde <a href="projects.nl.html">projecten</a>!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Aanpak?</h2>
                    <hr class="light">
                    <p class="text-faded text-justify">
                    Met onze persoonlijke aanpak trachten wij uw specifieke vragen te beantwoorden. Afhankelijk van de vraagstelling kan dit via analyses, adviesgesprekken of bijlessen. Een eerste afspraak gaat door in onze 
                    <a target="_blank" href="https://www.google.be/maps/place/ClearData/@51.0367335,3.6915578,17z/data=!3m1!4b1!4m5!3m4!1s0x47c373d5e244c623:0x12ceb2b0b9fe9577!8m2!3d51.0367335!4d3.6937465">
                    thuisbasis te Gent</a> of bij u ter plaatse. Communicatie gebeurt volgens keuze in het Nederlands of Engels.
					</p>
                </div>
            </div>
			

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Wie kunnen we helpen?</h2>
                    <hr class="light">
                    <p class="text-faded text-justify">
					We helpen iedereen met (ook rommelige) data die het verhaal achter de gegevens wil kennen. Ook wie een specifieke onderzoeksvraag of studievragen heeft kan bij ons terecht. Onze doelgroep bestaat uit kmo's, groepspraktijken, non-profitorganisaties, overheid, werknemers en studenten hoger onderwijs. 

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Wat met vertrouwelijke data?</h2>
                    <hr class="light">
                    <p class="text-faded text-justify">
					Met vertrouwelijke data (bv. persoonsgegevens) dient zorgvuldig omgesprongen te worden. Meestal kan u de data (met onze hulp) anonimiseren vóór deze aan ons te bezorgen. Indien anonimiseren niet mogelijk is beveiligen wij de data volgens een strict protocol (<a href="index.nl.html#contact">contacteer ons</a> voor technische details hieromtrent). Wij geven ook advies m.b.t. het omgaan, beheer en beveiligen van vertrouwelijke data, ook in het kader van de nieuwe Europese privacy wetgeving (<a target="_blank" href="https://gdpr-eu.be">GPDR</a>).
                    </p>
                </div>
            </div>			
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Team</h2>
                    <hr class="light">
                    <p class="text-faded text-justify">
					<em>Ineke van Gremberghe</em> is statistisch consultant en data analyst (Master in Statistische Data-analyse en Doctor in de Wetenschappen, UGent). Ineke werkte 8 jaar aan de Universiteit Gent (als wetenschappelijk onderzoeker biologie, als statistisch consultant voor academici en externe klanten, als projectcoördinator en als lesgever en organisator van interuniversitaire statistiekopleidingen aan de 5 Vlaamse universiteiten). Ineke was betrokken in verschillende data-analyseprojecten uit uiteenlopende disciplines. Zie ook <a href="docs/cv-Ineke%20van%20Gremberghe%202017.pdf">cv</a>.
                    </p>
     		<p class="text-faded text-justify">
					<em>Benny Colyn</em> biedt de noodzakelijke IT en programmeerondersteuning. Hij werkt sinds 2008 als programmeur en software architect in de privésector en heeft ervaring in o.a. relationele en niet-relationele databanken, Java/Scala software development, Python scripting, Big Data, website ontwikkeling en IT security. <!-- Hij is ook beschikbaar voor het geven van workshops over softwareontwikkelingtechnieken. -->
					</p>
		</div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tot Uw Dienst</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-justify">
                    <div class="service-box">
                        <div class="text-center">
                          <i class="fa fa-4x fa-database wow bounceIn text-primary"></i>
                          <h3>Data verzamelen</h3>
                        </div>
                        <p class="text-muted">
						Wanneer er een onderzoeksvraag is maar nog geen gegevens, geven we advies en hulp om de data te verzamelen. Dit kan via het registreren van nieuwe gegevens, via het opzoeken en opvragen van gegevens of via enquêtes. Administratieve lasten worden steeds beperkt!
						</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="service-box text-justify">
                        <div class="text-center">
                          <i class="fa fa-4x fa-calculator wow bounceIn text-primary" data-wow-delay=".1s"></i>
                          <h3>Data controleren en opschonen</h3>
                        </div>
                        <p class="text-muted">
						Wij sporen eventuele structurele fouten op in de data en geven een indicatie van de betrouwbaarheid van uw gegevens. We reorganiseren en koppelen ook data uit verschillende bronnen aan elkaar. Digitalisatie van data uit papieren documenten is ook mogelijk.
						</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="service-box text-justify">
                    <div class="text-center">
                        <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Statistische data-analyse</h3>
                      </div>
                      <p class="text-muted">
					  Om de juiste conclusie te trekken uit de data is een statistische analyse vaak noodzakelijk. Wij doen eenvoudige en geavanceerde statistische analyses, afhankelijk van de gevraagde expertise en geven ook advies indien u zelf analyses wenst uit te voeren. Zie <a href="consulting.nl.html">consulting</a> voor meer details.  
					  </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="service-box text-justify">
                    <div class="text-center">
                        <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Datavisualisatie</h3>
                      </div>
                      <p class="text-muted">
					  Datavisualisatie is een zeer belangrijk aspect in het begrijpen van het verhaal achter de data. Wij visualiseren via heldere en toegankelijke figuren, die een duidelijk inzicht geven in de resultaten. Deze figuren kunnen dan bijvoorbeeld op uw website gepresenteerd worden.
					  </p>
                    </div>
                </div>
            </div>

            <div class="row">
				<div class="col-lg-6 col-md-6">
                    <div class="service-box text-justify">
                        <div class="text-center">
                          <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                          <h3>Rapportering</h3>
                        </div>
                        <p class="text-muted">
						In onderling overleg worden de resultaten gerapporteerd door middel van een gedetailleerd rapport, een samenvattend rapport of presentatie. Er kan ook een interactieve on-line weergave gemaakt worden. Er wordt steeds goed afgestemd wat het doel en doelpubliek is van het rapport.  
						</p>
                    </div>
                </div>
				<div class="col-lg-6 col-md-6">
                  <div class="service-box text-justify">
                    <div class="text-center">
                        <i class="fa fa-4x fa-pencil wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        <h3>Advies en bijscholing</h3>
                      </div>
                      <p class="text-muted">
					  Wij geven advies in dataregistratie, databeheer, databeveiliging en dataverwerking. Dit kan via persoonlijk gesprek of via specifieke workshops. Wij bieden ook <a href="students.nl.html#services">bijscholing</a> in data-analyse, statistiek, wetenschappelijk rapporteren en programmeren in <a target="_blank" href="https://www.r-project.org">R</a>, inclusief thesisbegeleiding.
					  </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Neem contact met ons op!</h2>
                    <hr class="primary">
                </div>
			</div>	
			<div class="row">	
                <div class="col-lg-3 text-center">
                    <a target="_blank" href="https://www.google.be/maps/place/ClearData/@51.0367335,3.6915578,17z/data=!3m1!4b1!4m5!3m4!1s0x47c373d5e244c623:0x12ceb2b0b9fe9577!8m2!3d51.0367335!4d3.6937465">
                    <i class="fa fa-map-marker fa-3x wow bounceIn"></i>
                    <p>Jozef Cantréstraat 8<br/>9000 Gent</p>
                    </a>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="tel:+32498137976">
                    <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>+32 498 13 79 76</p>
                    </a>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="mailto:info@cleardata.be">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                    <p>info@cleardata.be</p>
                    </a>
                </div>
				<div class="col-lg-3 text-center">
                    <i class="fa fa-building fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                    <p>Ondernemingsnr:<br/>0674 788 220</p>
                </div>
            </div>
			<div class="row">
                <div class="col-lg-3 col-lg-offset-3 text-center">
                    <a target="_blank" href="https://www.linkedin.com/in/ineke-van-gremberghe-6b976024/">
                    <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".4s"></i>
                    <p>LinkedIn</p>
                    </a>
                </div>
				<div class="col-lg-3 text-center">
                    <a target="_blank" href="https://www.facebook.com/cleardata.be/">
                    <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                    <p>Facebook</p>
                    </a>
                </div>
			</div>
        </div>
    </section>

    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
    "palette": {
        "popup": {
        "background": "#edeff5",
        "text": "#838391"
        },
        "button": {
        "background": "#4b81e8"
        }
    },
    "content": {
        "message": "Door te surfen op onze website accepteer je het gebruik van cookies. Een cookie is een klein tekstbestand dat ons toelaat het gebruik van deze website te optimaliseren.",
        "dismiss": "OK",
        "link": "Meer info"
    }
    })});
    </script>

    {% endblock %}    