{% set title = "Cleardata - projecten" %}
{% set description = "Data-analyse & Statistiek: projecten " %}

{% extends "layout.nunjucks" %} {% block content %}

    <section id="cases" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Projecten</h2>
                     <hr class="light">
                </div>
            </div>

            <div class="row">
                <div class="text-justify">
                    <div class="col-md-4 text-center example-box hidden-xs hidden-sm" id="example-intake">
                        <img src="img/non-smoking-2497308_1920.jpg" class="img-responsive" />
                    </div>

                    <div class="text-faded col-md-8">
                        <h3 class="example-header">Vlaams Instituut Gezond Leven - <a href="https://www.zorg-en-gezondheid.be/rookstopbegeleiding">Rookstopbegeleiding</a></h3> 
                        <p>
                        Met het uitbetalingssysteem voor tabakologen wil men rokers aanzetten om te stoppen met roken onder begeleiding van een tabakoloog.
                        De tabakoloog ontvangt zijn tussenkomst van de Vlaamse overheid door zijn prestaties over te maken via een web-based facturatiesysteem. 
                        Dit facturatiesysteem bevat zeer veel nuttige informatie. Het uitwerken en opvolgen van het uitbetalingssysteem gebeurt door het consortium
                        TABAK (<a href="https://www.gezondleven.be">Vlaams Instituut Gezond Leven</a></h3>, <a href="https://rookstop.vrgt.be">VRGT</a></h3>, Stichting tegen Kanker, Kom op tegen kanker).
                        </p>
                        <p>
                        In opdracht van het Vlaams Instituut Gezond Leven ontwikkelde ClearData via R Markdown een helder automatisch rapport dat de data
                        uit het facturatiesysteem samenvat en visualiseert zodat men zeer snel conclusies kan trekken.
                        </p>
                        <div class="reaction">
                        <blockquote>                        
                        "Samenwerken met ClearData was voor ons een duidelijke meerwaarde. Een terugkerende uitgebreide taak werd serieus vereenvoudigd in tijd en procedure. 
                        ClearData heeft de tijd genomen om het project en de data grondig te leren kennen. Dankzij hun persoonlijke manier van werken werd data-opschoning, 
                        statistische data-analyse en automatische rapportering vlot verwerkt. Toegankelijk, intelligent, stipt en gedreven; kernwoorden die wij toeschrijven 
                        aan ClearData." - Vlaams Instituut Gezond Leven
                        </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="text-justify">
                    <div class="text-center col-md-4 col-md-push-8 example-box hidden-xs hidden-sm" id="example-quality">
                        <img src="img/StockSnap_HV3XMBMNL1.jpg" class="img-responsive" />
                    </div>

                    <div class="text-faded col-md-8 col-md-pull-4">
                        <h3 class="example-header">Vlaams Instituut Gezond Leven - <a href="https://www.gezondleven.be/projecten/bewegen-op-verwijzing">Bewegen op Verwijzing</a></h3> 
                        <p>
                        Met Bewegen op Verwijzing wil men inactieve personen aanzetten om meer te bewegen en minder lang stil te zitten via begeleiding
                        door een coach. Deze coach ontvangt zijn tussenkomst van de Vlaamse overheid door zijn prestaties over te maken via een 
                        web-based facturatiesysteem. Dit facturatiesysteem bevat zeer veel nuttige informatie.
                        </p>
                        <p>
                        In opdracht van het Vlaams Instituut Gezond Leven ontwikkelde ClearData via R Markdown een helder automatisch rapport dat de data
                        uit het facturatiesysteem combineert met externe data en daarna de gegevens samenvat en visualiseert zodat men zeer snel conclusies kan 
                        trekken. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="text-justify">
                    <div class="text-center col-md-4 vertical-align example-box hidden-xs hidden-sm" id="example-research">
                        <img src="img/intake.jpg" class="img-responsive" />
                    </div>

                    <div class="text-faded col-md-8">
                        <h3 class="example-header">PsyPunt - <a href="https://psypunt.be">Praktijk voor psychologische hulpverlening te Gent</a></h3> 
                        <p>
                        Voor deze groepspraktijk maken we een jaarlijks rapport via R Markdown op basis van de geanonimiseerde aanmeldingen. Er wordt ook inhoudelijk
                        meegedacht welke gegevens geregistreerd kunnen worden om meer inzicht te krijgen in de werking van de praktijk (Hoe wordt
                        de praktijk gevonden? Welke problematieken komen veelvuldig voor? Welke evoluties zien we?).
                        </p>
                        <p>
                        Dankzij dit rapport krijgen de coördinatoren meer overzicht wat leidt tot gerichte beslissingen.
                        </p>
                        <div class="reaction">
                        <blockquote>
                        "Door de analyses van ClearData zien wij niet alleen zeer duidelijke evoluties in onze praktijk maar worden ook op korte termijn 
                        specifieke vragen beantwoord zodat wij onze werking objectief kunnen evalueren en bijsturen! Toffe samenwerking!" - coördinator
                        </blockquote>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="row">
                <div class="text-justify">
                    <div class="text-center col-md-4 col-md-push-8 example-box hidden-xs hidden-sm" id="example-quality">
                        <img src="img/StockSnap_5YUFL6LC0E.jpg" class="img-responsive" />
                    </div>

                    <div class="text-faded col-md-8 col-md-pull-4">
                        <h3 class="example-header">Wetenschappelijke bijscholing werknemers</h3>
                        <p>
                        Sommige werknemers willen zich verder specialiseren en hun kennis omtrent statistiek en data-analyse verder uitbouwen, maar lopen vast omdat hun (basis)kennis omtrent wetenschappelijke methodologie en statistiek ontoereikend
                        of zelfs onbestaande is. Wij geven flexibele individuele bijscholingen alsook bijscholingen in groep op maat van de werknemer(s).
                        </p>
                        <div class="reaction">
                        <blockquote>                        
                        "ClearData: hét adres voor statistiek en wetenschappelijk bijscholing in Gent!" - verpleegkundige met oog op doorgroeimogelijkheden
                        </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {% endblock %}