{% set title = "Cleardata - Bijles statistiek" %}
{% set description = "Cleardata biedt bijles statistiek aan master en doctoraat studenten, evenals training van werknemers." %}

{% extends "layout.nunjucks" %} {% block content %}

    <section id="info" class="bg-primary">
        <div class="container">
            <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading">Bijscholing op maat <!-- (vb zie titel ‘tot uw dienst’ bij diensten) --></h2>
                            <hr class="light">
                    </div>
            </div>            

        
        <!--
        ik zou bovenaan de foto van advies en training tonen, zoals bij de oude pagina voorbeeldprojecten het geval was
        -->
        <div class="row">
                <div class="text-faded col-lg-8 col-lg-offset-2 text-justify">
                    <p>                                        
                        Wij bieden kwaliteitsvolle bijles en studiebegeleiding aan voor een eerlijke prijs (bijles: 35 €/uur, begeleiding thesis of paper: 40 €/uur). Er zijn geen administratiekosten of verplichtingen in het aantal lesuren. Bachelor- en masterstudenten (uit alle studierichtingen) maar ook werkstudenten en werknemers die willen bijleren kunnen bij ons terecht.
                    </p>
                    <p>
                        <em>Ineke van Gremberghe</em> (Master in Statistische data-analyse, Doctor in de Wetenschappen en docent) geeft bijles en advies in de volgende onderwerpen:
                    </p>
                        <ul>
                            <li>Statistiek (theorie + praktijk)
                            <li>Data-analyse (theorie + praktijk)
							<li>Werken met statistische software (o.a. <a target="_blank" href="https://www.r-project.org">R</a>, <a target="_blank" href="https://www.sas.com">SAS</a>, <a target="_blank" href="https://www.ibm.com/analytics/data-science/predictive-analytics/spss-statistical-software">SPSS</a>)
							<li>Programmeren in <a target="_blank" href="https://www.r-project.org">R</a>
                            <li>Lineaire regressie
                            <li>Logistische regressie
                            <li>Analyse van categorische data
                            <li>Multilevel, longitudinale en gemengde modellen
							<li>Verwerking van vragenlijsten
							<li>Datavisualisatie
                            <li>Wetenschappelijk rapporteren
                            <li>Thesisbegeleiding (data-analyse, literatuurstudie, opbouw en schrijfstijl)
                        </ul>
                    <p>
                        De lessen gaan door in onze thuisbasis te Gent of remote via videogesprekken. Wij zijn zeer vlot 
                        <a target="_blank" href="https://www.google.be/maps/place/ClearData/@51.0367335,3.6915578,17z/data=!3m1!4b1!4m5!3m4!1s0x47c373d5e244c623:0x12ceb2b0b9fe9577!8m2!3d51.0367335!4d3.6937465">
                            bereikbaar
                        </a>
                        per fiets, per trein (15 minuten wandelen van het Gent Sint-Pietersstation), alsook met de wagen (vlakbij R4, E17 en E40 met gratis parkeerplaats op adres).
                    </p>
                    <p>
                        Wij helpen iedereen met veel enthousiasme verder! 
                    </p>
                    <p>
                        <a href="index.nl.html#contact">Contacteer ons</a> voor meer informatie.
                    </p>
                </div>
        </div>
        </div>
    </section>
    
    {% endblock %}